<div class="homeContainer">

    <h1>Welcome to iBeer</h1>
    <h2>DEMO (Angular) Project</h2>
    <ul class="txt">
        <li>Nodejs - Express</li>
        <li>openbrewerydb API</li>
    </ul>
    <p>Go to <span>List</span> Tab and find great Breweries!</p>
    <ul class="txt contact">
        this project CODE on github
        <li><a target="_blank" href="https://chicco-moshe-serby-portfolio.herokuapp.com/">This project CODE on github</a></li>    

        <li><a target="_blank" href="https://chicco-moshe-serby-portfolio.herokuapp.com/">PORTFOLIO</a></li>    
        <li><a target="_blank" href="https://github.com/ChiccoMosheSerby?tab=repositories">GitHub</a></li>
        <li><a target="_blank" href="https://www.linkedin.com/in/chicco-moshe-serby-a57a33171/">Linkedin</a></li>
        <li>chiccoMoshe@gmail.com</li>



    </ul>
</div>